/* Main card container */
.card {
    width: 300px; 
    height: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
   
}
.card__description{
    min-height: 100px;
}

.card:hover {
    transform: scale(1.05);
}


.card__img {
    width: 100%;
    height: 100%;
    min-height: 200px;
    object-fit: cover; 
    border: 1px solid #495E57;
    border-top-left-radius: 15px;
     border-top-right-radius: 15px;
   
}
.card-img{
    width: 100%;
    height: 200px;
}

.card_body {
    padding: 16px;
    font-size: 16px;
    font-family: Karla,sans-serif;
    
}


.card__title {
    font-size: 1.25em;
    margin: 0.5em 0;
    font-weight: 500;
    color: #212121;
    position: relative;
   
}

.card_text {
    font-size: 1em;
    color: #6E7E79;
    line-height: 1.5;
}

.btn-delivery{
    font-family: Karla,serif;
    text-decoration: none;
    display: block;
    color: #495E57;
    font-size: 18px;
    font-weight: 600;
    margin-top: 1.5em;
   position: relative;
}
.btn-delivery>span{
position: absolute;   
  bottom: -3px;
  right: 0;

}
.card__price{
    color: #495E57;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;
}

