
  footer {


    padding: 20px;
    background: #495E57;
    display: grid;
    place-content: center;
    grid-template-areas:
      "logo socials"
      "links links";
    grid-template-columns: repeat(1, 1fr);
    color: #000;
  }
  
  .logo-footer{
    height: 195px;
    object-fit: cover;
    width: 125px;
    padding-left: 10%;
  }
  .icon__social{
    font-size: 20px;
  
     color:white;
     position: absolute;
     left: 0;
  }
  .social_link{
    position: relative;
    padding: 20px;
  }

  
  .links {
    grid-area: links;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0 50px;
    align-items: center;
    justify-items: center;
  }
  
  .links h2 {
    font-size: 18px;
    font-weight: 700;
    color:white;
    font-family: Markiz ,serif;
  }
  
  .links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
  ul a {
     text-decoration: none;
     color:white

  }
  
  .links address {
    font-style: normal;
    line-height: 1.5;
    font-size: 12px;
  }
  .copyright {
    font-size: 12px;
    color: #d4d4d4;
    text-align: center;
    
  }
   .copyright>a{
    text-decoration: none;
    font-size: 12px;
    color: #e1dede;
    text-align: center;
   
  }
  /*responsive*/
@media (max-width: 660px) {
  .links {
    
    grid-template-columns: repeat(2, 6fr);
    padding: 40px 40px 50px;
    text-align: left;
  }
   .links >ul {
     margin: 0;
    padding: 2.5em 0 0px 2em;
   
  }
  


}