.modal-wrapper {
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: #495e57;
  color: white;
  padding: 16px 24px;
  border-radius: 14px;
  box-shadow:
    0 10px 30px rgba(0,0,0,.2);
  z-index: 3000;
  animation: slideIn 0.3s ease;
}
.modal-content {
  
}
.modal-text {
  font-size: 1.1em;
  font-weight: 600;
  padding-right: 1em;
}
.modal-text>span {
 margin-left: 1em;
}

@keyframes slideIn {

  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}