
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.specials{
     width: 90%;
   margin: 0 auto  ;
    margin-top: 5em;
    font-size: 18px;
}
.specials_content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}
.btn-menu{
    background-color: #f4ce14;
    padding: 10px 35px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 15px;
    font-family: 'Markazi Text', serif;
    text-decoration: none;
    font-size: 1.3em;
    color: #000;
    font-weight: 400;
}

.btn-menu:hover{
    background: #e1e358;
}
.specials_head{
    font-size: 32px;
    color:#212121;
}


